<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  {% if site.logo %}
  <link rel="shortcut icon" type="image/png" href="{{ site.logo | relative_url }}">
  {% endif %}

  {% if page.layout == 'home' %}
  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min_3.3.7.css" | relative_url }}">
  <!-- Include file for Leaflet.js -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
  <script src="{{ "/assets/js/leaflet.ajax.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/turf.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/Leaflet.fullscreen.min.js" | relative_url }}"></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
  <!--<script src="{{ "/assets/js/bootstrap-native.min_1.0.6.js" | relative_url }}"></script>-->
  {% endif %}

  {% if jekyll.environment == 'production' and site.google_analytics %}
  {% include google-analytics.html %}
  {% endif %}

  {% seo %}
</head>
