<div class="panel panel-default">
  <div class="panel-body">
    <div id="mapFrame"></div>
    <!-- Build the map using Leaflet.js -->
    <script type="text/javascript">
      // Helper function to create a popup for each feature
      function popup(feature, layer) 
      {
        var popupContent = '' ; 
        var lengthFeature = Math.round( 10 * turf.lineDistance(feature) ) / 10 ;

        if (feature.properties && feature.properties.name) 
          popupContent += "<b>"+feature.properties.name+"</b><br/>" ;      
        if (feature.properties && feature.properties.description) 
          popupContent += feature.properties.description+"<br/>" ; 

        popupContent += "Longueur : "+lengthFeature+"km";

        layer.bindPopup(popupContent) ;
      }

      // Function to convert a color in RGB color space to HSV color space
      function rgbToHsl(r, g, b)
      {
        r /= 255.0, g /= 255.0, b /= 255.0;
        var max = Math.max(r, g, b), min = Math.min(r, g, b);
        var h, s, l = (max + min) / 2.0;

        if(max == min)
        {
          h = s = 0; // achromatic
        }
        else
        {
          var d = max - min;
          s = l > 0.5 ? d / (2 - max - min) : d / (max + min);
          switch(max)
          {
            case r: h = (g - b) / d + (g < b ? 6 : 0); break;
            case g: h = (b - r) / d + 2; break;
            case b: h = (r - g) / d + 4; break;
          }
          h /= 6.0;
        }

        return [h, s, l];
      }


      // Function to get the style to apply to a feature
      function styleFeature(feature)
      {  
        var finalColor, finalWidth ;

        if ( feature.properties.stroke )
        {
          // Get the color, make the conversion from RGB to HSV
          var colorHexa = feature.properties.stroke.substr(1), colorHLS ;
          colorHLS = rgbToHsl ( parseInt(colorHexa.substr(0,2), 16), parseInt(colorHexa.substr(2,2), 16), parseInt(colorHexa.substr(4,2), 16) ) ; 

          if ( colorHLS[1] < 0.3 && colorHLS[2] < 0.5 )
          {
            finalColor = 'grey' ; 
          }
          else
          {
            // Compare the distance between H and references H for green, red and orange
            var distanceMin = 1, references = [ [0.33333, "#228b22"], [0, "#ff0000"], [0.10784, "#ffa500"] ] ; 
            for ( var iColor = 0 ; iColor < references.length ; iColor++ )
            {
              if ( Math.abs(colorHLS[0] - references[iColor][0]) < distanceMin )
              {
                finalColor = references[iColor][1] ;
                distanceMin = Math.abs(colorHLS[0] - references[iColor][0]) ;
              } 
            }
          }
        }
        else
          finalColor = 'grey' ; 

        finalWidth = ( feature.properties["stroke-width"] ? feature.properties["stroke-width"] : 2 ) ;

        return {"color": finalColor, "weight": finalWidth } ; 
      }


      // Create the map with Mapbox tiles
      var map = L.map('mapFrame', {fullscreenControl: true}).setView([48.8548, 2.3576], 12);
      L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a> | Paris en Selle',
        subdomains: 'abcd',
      }).addTo(map);

      // Load the different layers and display the default one (planVelo) on the map
      var planVeloLayer = new L.GeoJSON.AJAX(
        "https://raw.githubusercontent.com/ParisEnSelle/planvelo-carte/master/planvelo.geojson", 
        {onEachFeature: popup, style: styleFeature } );       
      var horsPlanVeloLayer = new L.GeoJSON.AJAX(
        "https://raw.githubusercontent.com/ParisEnSelle/planvelo-carte/master/hors-planvelo.geojson", 
        {onEachFeature: popup, style: styleFeature } );       
      planVeloLayer.addTo(map);      
      

      // Add control to display or hide layers
      var overlayLayers = {
        "Plan vélo": planVeloLayer,
        "Hors plan vélo": horsPlanVeloLayer};
      L.control.layers(null, overlayLayers).addTo(map);

      

    </script>
    <ul class="legend">
      <li><span class="grey"></span>Plan Vélo (Projet)</li><br>
      <li><span class="green"></span>Réalisé - Satisfaisant</li><br>
      <li><span class="orange"></span>Réalisé - Non Satisfaisant</li><br>
      <li><span class="red"></span>Abandonné</li>
    </ul>
 </div>
</div>
