<script>
  function percent(start,end) {
      var now = new Date() ;
      return Math.round(Math.max(0, Math.min(100, ( 100.0 * (now - start) ) /  (end - start) )));
  }
  // display
  function disp(value, element) {
      var progressBar = document.getElementById(element);
      progressBar.style.width = value+"%" ;
      progressBar.innerHTML = value+"%";
      progressBar.setAttribute("aria-valuenow", value) ; 
  }

  window.onload = function ()
  { 
    var start = new Date("04/05/2014") ;;
    var end = new Date("04/05/2020") ;
    disp(4, 'done');
    disp(percent(start,end), 'timebar');
  }
</script>
<div class="panel panel-default">
  <div class="panel-body">
    Avancement de la réalisation
    <div class="progress">
     <div id="done" class="progress-bar" role="progressbar"
     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
     </div>
   </div>
   Temps de mandature écoulé
   <div class="progress">
     <div id="timebar" class="progress-bar progress-bar-warning" role="progressbar"
     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
     </div>
   </div>
 </div>
</div>
